@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
}

@media(max-width:450px) {
  html {
    width: 100%;
  }
}

.navbar {
  height: 40px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media(max-width:450px) {
  .navbar {
    height: 30px;
    padding: 10px 0;
    width: 100;
  }
}

.left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3px;
}

.language {
  cursor: pointer;
}

@media(max-width:450px) {
  .language {
    display: none;
  }
}

.searchBox {
  border: 0.5px solid lightgray;
  border-radius: 3px;
  display: flex;
  margin-left: 25px;
  padding: 5px;
}

input {
  border: none;
}

@media(max-width:450px) {
  input {
    width: 50px;
  }
}

.middle {
  flex: 1;
  text-align: center;
}

.logo {
  font-family: 'Water Brush', cursive;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
}

@media(max-width:450px) {
  .logo {
    font-size: 18px;
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 3px;
}

@media(max-width:450px) {
  .right {
    flex: 2;
  }
}

@media(max-width:450px) {
  .right {
    justify-content: center;
    max-width: 30vw;
  }
}

.menuItems {
  cursor: pointer;
  margin-left: 25px;
}

@media(max-width:450px) {
  .menuItems {
    font-size: 12px;
    margin-left: 10px;
  }
}

/* ------------------------------------- */
.announcements {
  background-color: teal;
  color: white;
  text-align: center;
  position: relative;
  height: 25px;
  display: flex;
  align-items: center;
}

.message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.close {
  position: absolute;
  right: 8px;
  cursor: pointer;
  padding: 3px;
  transition: all 0.5s;
}

.close:hover {
  color: black;
  font-weight: bold;
}

/* ----------------------------------------- */
.slider {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media(max-width:450px) {
  .slider {
    display: none;
  }
}

.arrow {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
  z-index: 2;
}

#left {
  left: 10px;
}

#right {
  right: 10px
}

.slideWrap {
  height: 100%;
  display: flex;
}

.slide {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.slider>.imgContainer {
  flex: 0.8;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 5vw;
}

.model {
  height: 80%;
}

.infoContainer {
  flex: 1;
}

.slide>.infoContainer>.title {
  font-size: 70px;
}

.description {
  margin: 50px 0px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.button {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

/* ------------------------------- */
.categories {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

@media(max-width:450px) {
  .categories {
    padding: 0;
    flex-direction: column;
  }
}

.categoryItem {
  flex: 1;
  margin: 3px;
  height: 70vh;
  position: relative;
}

.categoryItem>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width:450px) {
  .categoryItem>img {
    height: 20vh;
  }
}

.categoryItem>.infoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryItem>.infoContainer>.title {
  color: white;
  margin-bottom: 20px;
}

.categoryItem>.infoContainer>button {
  border: none;
  padding: 10px;
  background-color: white;
  color: gray;
  cursor: pointer;
  font-weight: 600;
}

/* --------------------------------------- */
.products {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.productContainer {
  margin: 5px;
  height: 350px;
  width: 280px;
  background-color: #f5fbfd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.productContainer>img {
  height: 75%;
  position: absolute;
}

.productContainer>.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 0;
  transition: all 0.5s ease;
}

.productContainer>.info:hover {
  opacity: 1;
  cursor: pointer;
}

.info>.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: all 0.1s ease;
}

.info>.icon:hover {
  background-color: #e9f5f5;
  transform: scale(1.15);
}

/* ---------------------------------- */
.newsletter {
  height: 60vh;
  background-color: #f9f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter>.title {
  font-size: 70px;
  margin-bottom: 20px;
}

.newsletter>.description {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 300;
}

@media(max-width:450px) {
  .newsletter>.description {
    text-align: center;
  }
}

.newsletter>.inputContainer {
  width: 50%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

@media(max-width:450px) {
  .newsletter>.inputContainer {
    width: 80%;
  }
}

.inputContainer>input {
  flex: 8;
  border: none;
  padding: 20px;
  font-size: 15px;
}

.inputContainer>button {
  flex: 1;
  background-color: teal;
  color: #fff;
  border: none;
}

/* ----------------------------------- */
.footer {
  display: flex;
}

.footer>.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer>.left>p {
  margin: 20px 0;
}

.socialContainers {
  display: flex;
}

.socialContainers>.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 20px;
}

.footer>.middle {
  flex: 1;
  padding: 20px;
  background-color: #e9f5f5;
}

@media(max-width:450px) {
  .footer>.middle {
    display: none;
  }
}

.footer>.middle>.title {
  margin-bottom: 20px;
  text-align: start;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.listItem {
  width: 50%;
  text-align: start;
  margin-bottom: 10px;
}

.footer>.right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media(max-width:450px) {
  .footer {
    flex-direction: column;
  }

  .footer>.right {
    background-color: #fff8f8;
  }
}


.right>.title {
  margin-bottom: 30px;
}

.right>img {
  width: 50%;
}

.contactItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.contactItem>p {
  margin-left: 10px;
}

/* ------------------------------------ */
.productList>h1 {
  margin: 20px;
}

.productList>.filterContainer {
  display: flex;
  justify-content: space-between;
}

.productList>.filterContainer>.filter {
  margin: 20px;
}

@media(max-width:450px) {
  .productList>.filterContainer>.filter {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
  }
}

.productList>.filterContainer>.filter>.filterText {
  font-size: 20px;
  font-weight: 400;
  margin-right: 20px;
}

select {
  padding: 10px;
  margin-right: 20px;
}

@media(max-width:450px) {
  select {
    margin: 8px 0;
  }
}

/* --------------------------------------- */
.productInfo>.productDetails {
  padding: 50px;
  display: flex;
}

@media(max-width:450px) {
  .productInfo>.productDetails {
    flex-direction: column;
    padding: 10px;
  }
}

.productDetails>.imgContainer {
  flex: 1;
}

.productDetails>.imgContainer>img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

@media(max-width:450px) {
  .productDetails>.imgContainer>img {
    height: 40vh;
  }
}

.productDetails>.infoContainer {
  flex: 1;
  padding: 0 50px;
}

@media(max-width:450px) {
  .productDetails>.infoContainer {
    padding: 10px;
  }
}

.productDetails>.infoContainer>h1 {
  font-weight: 200;
}

.productDetails>.infoContainer>p {
  margin: 20px 0;
}

.productDetails>.infoContainer>span {
  font-weight: 100;
  font-size: 40px;
}

.productDetails>.infoContainer>.filterContainer {
  width: 50%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

@media(max-width:450px) {
  .productDetails>.infoContainer>.filterContainer {
    width: 100%;
  }
}

.productDetails>.infoContainer>.filterContainer>.filter>.filterTitle {
  font-size: 20px;
  font-weight: 200;
}

.productDetails>.infoContainer>.filterContainer>.filter {
  display: flex;
  align-items: center;
}

.productDetails>.infoContainer>.filterContainer>.filter>.filterColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
}

.productDetails>.infoContainer>.filterContainer>.filter>.filterSize {
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.productDetails>.infoContainer>.addContainer {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

@media(max-width:450px) {
  .productDetails>.infoContainer>.addContainer {
    width: 100%;
  }

}


.productDetails>.infoContainer>.addContainer>.amtContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.productDetails>.infoContainer>.addContainer>.amtContainer>.amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.productDetails>.infoContainer>.addContainer>button {
  cursor: pointer;
  border: 2px solid teal;
  padding: 15px;
  background-color: white;
  font-weight: 500;
}

.productDetails>.infoContainer>.addContainer>button:hover {
  background-color: #f8f4f4;
}

/* -------------------------------- */
.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
  ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration {
  padding: 20px;
  width: 40%;
  background-color: white;
}

@media(max-width:450px) {
  .registration {
    width: 75%;
  }
}

.registration>h1 {
  font-size: 24px;
  font-weight: 300;
}

@media(max-width:450px) {
  .registration>h1 {
    text-align: center;
  }
}

.registration>form {
  display: flex;
  flex-wrap: wrap;
}

form>input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0 0;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

form>span {
  font-size: 12px;
  margin: 20px 0;
}

form>button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  color: white;
  background-color: teal;
  cursor: pointer;
  margin-bottom: 10px;
}

/* -------------------------------------- */
.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
  ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  padding: 20px;
  width: 25%;
  background-color: white;
}

@media(max-width:450px) {
  .loginForm {
    width: 75%;
  }
}


.loginForm>h1 {
  font-size: 24px;
  font-weight: 300;
}

.loginForm>form {
  display: flex;
  flex-direction: column;
}

.loginForm>form>input {
  margin: 10px 0;
}

@media(max-width:450px) {
  .loginForm>h1 {
    text-align: center;
  }

  .loginForm>form>input {
    width: 80%;
  }

  .loginForm>form {
    justify-content: center;
    align-items: center;
  }
}

form>a {
  margin: 5px 0;
  color: black;
}

/* ------------------------------- */
.cartItems {
  padding: 20px;
}

@media(max-width:450px) {
  .cartItems {
    padding: 10px;
  }
}

.cartItems>h1 {
  font-weight: 300;
  text-align: center;
}

.top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topButton {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.topButton:nth-of-type(1) {
  background-color: black;
  color: white;
}

.topButton:nth-of-type(2) {
  background-color: transparent;
}

.topText {
  text-decoration: underline;
  cursor: pointer;
  margin: 0 10px;
}

@media(max-width:450px) {
  .topText {
    display: none;
  }
}

.bottom {
  display: flex;
}

@media(max-width:450px) {
  .bottom {
    flex-direction: column;
  }
}

.bottom>.info {
  flex: 3;
}

.bottom>.info>.product {
  display: flex;
  justify-content: space-between;
}

@media(max-width:450px) {
  .bottom>.info>.product {
    flex-direction: column;
  }
}

.bottom>.info>.product>.productDetails {
  flex: 2;
}

.bottom>.info>.product>.productDetails>img {
  width: 200px;
}

.bottom>.info>.product>.productDetails>.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bottom>.info>.product>.productDetails>.details>.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.bottom>.info>.product>.productPrice {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom>.info>.product>.productPrice>.productAmtCont {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.bottom>.info>.product>.productPrice>.productAmtCont>.productAmt {
  font-size: 24px;
  margin: 5px;
}

@media(max-width:450px) {
  .bottom>.info>.product>.productPrice>.productAmtCont>.productAmt {
    margin: 5px 15px;
  }
}

.bottom>.info>.product>.productPrice>.priceAmt {
  font-size: 30px;
  font-weight: 200;
}

@media(max-width:450px) {
  .bottom>.info>.product>.productPrice>.priceAmt {
    margin-bottom: 20px;
  }
}

hr {
  background-color: #eee;
  border: none;
  height: 1px;
}

.bottom>.summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 50%;
}

.summary>h1 {
  font-weight: 200;
}

.summary>.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

#total {
  font-weight: 500;
  font-size: 24px;
}

.summary>button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
}